/*
__QUESTION_DESCRIPTION__

link: __QUESTION_LINK__
*/

#[warn(dead_code)]
struct Solution {}

__CODE__

/*
test cases:
__TEST_CASE__
*/
#[cfg(test)]
mod tests {
    use super::Solution;

	#[test]
	fn test___TEST_FN_NAME__() {

		todo!()
	}
}